body{
    color:#40514E;
    margin:0;
    text-align: center;
    font-family:"Merriweather", serif;
   

}

h1{
    font-size:5.625rem;
    margin-top: 50px;
    font-family: "Sacramento",cursive;
    color: #66BFBF;
    line-height:2;
    
}
h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight:normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
   font-family: "Montserrat", sans-serifs; 
}
.pro{
    text-decoration: underline;
}
.intro{
    width:30%;
    margin:auto;
}
.top-cloud{
    position: absolute;
    right:200px;
    top:40px;

}
.bottom-cloud{
    position:absolute;
    left: 250px;
    bottom:300px;

}
.top-container{
    background-color:#EAF6F6 ;
    position:relative;
    padding:100px;


}
hr{
    border:dotted 6px;
    color: #EAF6F6;
    border-bottom: none;
    width:4%;
    margin :100px auto 100px auto;
    
}
.middle-container{   
    margin:100px 0 100px 0; 
}
p{
    color:#40514E;
    line-height: 2;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    display:block;
    text-align: left;
    
    
   
}

.restaurant{
    width:25%;/*image*/
    float:left;/* imagw*/
    margin-right:30px;/*image*/
}

.animation{
    width:25%;
    float:right;
    margin-right: 30px;
}

.contact-messege{
    width:40%;
    margin: 40px auto 60px auto;
}

.bottom-container{
    
   height:100px;
    background-color: #66BFBF;
    padding:50px 0 20px;


   
}



a{
    color:#11999E;
    font-family: "Montserrat", sans-serif;
    margin:10px 20px 10px;
    text-decoration: none;
}
a:hover{
    color:#EAF6f6;
}
.copyright{
   color:#EAf6f6; 
   font-size: 0.75rem;
   padding:20px 0;
}



.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
